.create-wine-item {
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;  
  position: absolute;
  right: 10px;
  top: 30px;
}